* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  color: cadetblue;
  width: 100%;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  min-width: 300px;
  height: auto;
  border: 2px solid rgb(31, 31, 104);
  border-radius: 30px;
  overflow: hidden;
  margin: 15px;
}

.card img {
  width: 100%;
  display: block;
  max-height: 250px;
}

.card p {
  margin: 6px 10px;
}

/* RANDOM CAT APP */

.catContainer {
  position: relative;
  background-color: #0c5e49;
  color: #76f1d2;
  padding: 2%;
  width: 100%;
  min-height: 100vh;
}

.catBtn {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: #76f1d2;
  color: #0c5e49;
  width: 150px;
  height: 60px;
  padding: 8px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.catBtn:hover {
  transform: scale(1.1);
}

.imgContainer {
  margin: 100px 0;
  padding: 25px;
}

.catImg {
  max-width: 600px;
  height: auto;
  margin: 10px;
}
